<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ player.first_name }} {{ player.last_name }}</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ player.first_name }} {{ player.last_name }}</div>
        <p class="text-gray-700 text-base">
            Position: {{ player.position }}<br>
            Team: {{ player.team.full_name }}<br>
            Height: {{ player.height }}<br>
            Weight: {{ player.weight }}<br>
            Number: {{ player.jersey_number }}<br>
            College: {{ player.college }}<br>
            Country: {{ player.country }}<br>
            Draft Year: {{ player.draft_year }}<br>
            Draft Round: {{ player.draft_round }}<br>
            Draft Number: {{ player.draft_number }}<br>
        </p>
    </div>
</div>
<div class="max-w-sm rounded overflow-hidden shadow-lg" id={{ player.id }}>
    <div class="px-6 py-4">
        <a href="{% url 'team_detail' player.team.id %}">
            <div class="font-bold text-xl mb-2">Team of the player: {{ player.team.full_name }}</div>
        </a>
        <p class="text-gray-700 text-base">
        </p>
    </div>
</div>
</body>
</html>