<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar bg-base-100">
    <a href="{% url 'players' %}" class="btn btn-ghost text-xl">Players</a>
    <a href="{% url 'teams' %}" class="btn btn-ghost text-xl">Teams</a>
    <a href="{% url 'matchs' %}" class="btn btn-ghost text-xl">Matchs</a>
</div>
{% for team in teams %}
    <a href="{% url 'team_detail' team.id %}" class="block max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer">
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">{{ team.full_name}}</h2>
            </div>
        </div>
    </a>
{% endfor %}
</body>
</html>