<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ player.first_name }} {{ player.last_name }}</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ team.full_name }}</div>
        <p class="text-gray-700 text-base">
            Conference: {{ team.conference }}<br>
            Division: {{ team.division }}<br>
            City: {{ team.city }}<br>
            Name: {{ team.name }}<br>
            Abbreviation: {{ team.abbreviation }}<br>
        </p>
    </div>
</div>
</body>
</html>